<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>OCR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Image to text ocr</h1>
 <div class="section">
        <h1>Image to Text Converter web based</h1>
        <div class="screen"></div>
        <div class="btnArea">
            <button id="camera">
                <img src="{% static 'images/camera-icon.png' %}" alt="">
            </button>
            <button id="file">
                <img src="{% static 'images/Documents-icon.png' %}" alt="">
            </button>
        </div>
    </div>
</body>
</html>